@media screen and (max-width: 1919px) {
  /*NAVIGATION*/
  .header_wrapper {
    max-width: 1120px;
  }

  .hero {
    max-width: 1050px;
  }

  .navigation_menu {
    max-width: 1120px;
    height: 70px;
  }

  .logo_sticky {
    width: 70px;
    height: 70px;
  }

  .sticky_menu {
    height: 586px;
    width: 70px;
  }

  .logo {
    width: 70px;
    height: 70px;
  }

  .profile {
    width: 42px;
    height: 44px;
  }

  .profile img {
    width: 21px;
    height: 36.35px;
  }

  aside {
    width: 70px;
    margin-top: -72px;
    margin-left: 0px;
  }

  .logo_sticky img {
    width: 41.5px;
    height: 32px;
  }

  .navigation ul {
    margin-left: 74px;
    margin-right: 182px;
    width: 680px;
  }

  .social_links {
    margin-top: 199px;
    margin-bottom: 67px;
    height: 146px;
  }

  .social_links img {
    width: 18px;
    height: 19px;
  }

  .arrow {
    width: 42px;
    height: 42px;
  }

  /*WATCH YOUR FAVORITE*/
  .watch_your_fav {
    min-width: 1050px;
    margin-top: 60px;
  }

  .watch_content {
    margin-left: 74px;
    margin-top: 40px;
    width: 497px;
  }

  /*HOW_ZOO*/
  .how_zoo_wrapper {
    height: 785px;
  }

  .how_zoo {
    width: 1200px;
    align-items: flex-start;
  }

  .how_zoo_img {
    margin-left: 184px;
    margin-right: 30px;
    margin-top: 37px;
    height: 585px;
    background-size: contain;
  }

  .about {
    margin-right: 34px;
    margin-top: 94px;
    height: 413px;
  }

  .about .button_blue {
    height: 59px;
    width: 210px;
  }

  .about p {
    margin-bottom: 0;
  }

  /*FAMOUS PETS*/
  .famous_pets {
    height: 734px;
    width: 1200px;
  }

  .famous_pets_content {
    margin-left: 87px;
    margin-right: 0;
    width: 215px;
    height: 283px;
    min-width: 215px;
    margin-top: -17px;
  }

  .famous_pets_content .span_text {
    margin-bottom: -12px;
  }

  .famous_pets_btn {
    width: 132px;
  }

  .animal-card-container {
    transform: scale(0.8);
    margin-top: 20px;
    width: 700px;
  }

  .animal-card {
    margin-bottom: 30px;
  }


  #card_animal_3 {
    display: none;
  }

  #card_animal_8 {
    display: none;
  }

  /*PAY AND FEET*/
  .pay_and_feet_wrapper {
    height: 1248px;
  }

  .pay_and_feet {
    width: 1200px;
  }

  .first_arrow {
    display: none;
  }

  .second_arrow {
    display: none;
  }

  .pay_visa {
    margin-top: 0;
    margin-bottom: 0;
    align-self: flex-end;
    width: 753px;
    height: 252px;
    margin-top: 44px;
    margin-right: 119px;
  }

  .pay_and_feet .text_h3 {
    margin-right: 7px;

  }

  .payment {
    margin-left: 0;
    margin-right: 118px;
    margin-top: 65px;
    align-self: flex-end;
    width: 753px;
    height: 252px;
  }

  .selected_animal {
    margin-top: 47px;
    margin-right: 118px;
    margin-left: 0;
    margin-right: 118px;
    align-self: flex-end;
    width: 753px;
    height: 252px;

  }

  .pay_and_feet_image img {
    width: 242px;
    height: 242px;
  }

  .pay_and_feet_container {
    margin-top: 0;
    margin-bottom: 8px;
    margin-left: 47px;
  }

  #first_container {
    height: 136px;
    width: 428px;
    margin-bottom: 6px;
  }

  #second_container {
    width: 456px;
    height: 111px;
    margin-top: 7px;
  }

  #third_container {
    width: 456px;
    height: 152px;
    margin-bottom: 31px;
  }

  #third_container .span_text {
    width: 300px;
  }

  /*TESTIMONIALS*/
  .testimonials_wrapper {
    height: 556px;
  }
  .testimonials_card_container{
    margin-top: 71px;
  }
  .testimonials{
    width: 1200px;
  }
  .testimonials_first_cards .testimonials_card:nth-child(2) {
    display: none;
  }
  .testimonials_text_container{
    margin-top: 106px;
  }
  .testimonials_text{
    width: 392px;
    height: 245px;
    justify-content: flex-start;
    margin-bottom: 62px;
  }
  .testimonials_text .span_text{
    margin-top: 39px;
  }
  .testimonials_text .content_text{
    margin-top: 41px;
  }
  .testimonials_text_container .button_light{
    width: 286px;
    height: 61px;
  }
  .testimonials_card{
    width: 454px;
    height: 235px;
  }
  .text_reviews{
    width: 394px;
  }
  h4{
    font-size: 18px;
  }
  .testimonials_card div div{
    width: 46px;
    height: 46px;
  }
  .see_more_reviews{
    width: 167px;
  }
  .see_more_reviews p{
    font-size: 16px;
  }
  .avatar_review{
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 25px;
  }
  .btn_container{
    width: 132px;
  }
  .btn_container .circle_arrow{
    background-color: #FCFCFC;
  }

  /*ZOO MAP*/
  .zoogeography_wrapper{
    height: 731px;
  }
  .zoogeography{
    width: 1200px;
    /*align-items: flex-start;*/
  }
  .map_active_card{
    width: 292px;
    height: 448px;
  }
  .map_active_card img:nth-child(1){
    width: 292px;
    height: 194px;
  }
  .map{
    width: 675px;
    height: 389px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 183px;
  }
  .zoogeography_content{
    margin-right: 10px;
  }
  .zoogeography_content h3 {
    margin-top: 16px;
    margin-bottom: 57px;
  }
  .map_marker{
    transform: scale(0.5);
  }
  #marker_alligator{
    top:-395px;
    left: 117px;
  }
  #marker_eagle{
    top:-244px;
    left: 30px;
  }
  #marker_gorilla{
    top: -4px;
    left: 277px;
  }
  #marker_panda{
    top: 73px;
    left: 460px;
  }
  .map_active_card_text {
    margin-bottom: 31px;
  }

  /*FOOTER*/
  .footer{
    width: 1200px;
    height: 720px;
  }
  .rs_school{
    width: 128px;
    height: 176px;
    flex-direction: column;
    /*align-items: flex-start;*/
  }
  .footer_logo{
    width: 119px;
    height: 91px;
    background-size: contain;
  }
  .logos{
    margin-left: 40px;
    width: 235px;
  }
  .navigation_footer{
    letter-spacing: 1px;
    margin-right: 172px;
  }
  .support_container{
    margin-right: 61px;
    letter-spacing: 1px;
  }
  .support .button_light{
    width: 339px;
    height: 61px;
  }
  .social_links_footer{
    width: 381px;
    margin-top: 92px;
  }
  .support .text_h3{
    letter-spacing: 2.5px;
  }
  .footer_line{
    width: 1120px;
    margin-bottom: 40px;
  }
  .navigation_footer{
    height: 513px;
  }
  .copyright{
    min-width: 1120px;
  }
  .copyright_wrapper{
    min-width: 0;
    max-width: 1200px;
  }














  /*TEXT*/
  .hero_wrapper {
    height: 616px;
  }

  .text_h2 {
    margin-bottom: 35px;
  }

  .text_big_span {
    font-size: 56px;
    line-height: 70px;
    letter-spacing: 1px;
  }

  .letter_i p {
    font-size: 56px;
  }

  .watch_content_buttons {
    width: 474px;
    margin-top: 50px;
  }

  .watch_content {
    margin-right: 104px;
  }

  .watch_image {
    margin: 0;
    height: 456px;
    background-size: cover;
    background-position: center;
  }

  .span_text {
    font-size: 28px;
    letter-spacing: 0.2px;
  }

  .content_text {
    font-size: 16px;
  }

  .text_h3 {
    letter-spacing: 0.07em;
  }

  /*BUTTON*/
  .button_blue {
    height: 45px;
  }

  .button_light {
    height: 45px;
  }

  .hero_button_left {
    width: 206px;
  }

  .hero_button_right {
    width: 216px;
  }

  .circle_arrow {
    width: 56px;
    height: 56px;
    background-color: #0F0049;
  }
  .btn_text{
    font-size: 16px;
  }


}
